Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build
Config/SteamVRBindings
Config/steamvr_ue_editor_app.json
.gitignore.bak
*.bat
*.log
Content/ModularLowPolyRobots
Content/Kobo_Nature
Content/MapsForGame
Content/GasStation
Content/PipeWorksPack